<div class="post" fxLayout="column" fxLayoutAlign="none stretch">

  <div class="topPart" fxLayout>
    <div fxFlex>
      <div fxLayout="column">
        <div class="author-name" fxFlex>{{post.author}}</div>
        <div *ngIf="postEditingMode != 2" class="post-body" fxFlex>{{post.post}}</div>

        <div class="imgDiv" *ngIf="post.photo" fxLayoutAlign="center none">
          <img (click)="photoClicked(post)" routerLinkActive="active" md-card-image [src]="post.photo.url" alt="Image from firebase">
        </div>
      </div>

      <hr>

      <div fxLayout>
        <button *ngIf="!alreadyLiked;else alreadyLikedTemplate" class="likeBtn" md-button color="primary" (click)="addLike()">
          Like
        </button>

        <ng-template #alreadyLikedTemplate>
          <button class="unlikeBtn" md-button color="accent" (click)="unlike()">     
            Unlike
          </button>
        </ng-template>

        <button class="likeBtn" md-button color="primary" (click)="reply()">
          Reply
        </button>
      </div>

      <md-input-container [class.hide]="postEditingMode!=2" dividerColor="accent">
        <input #updateInputElement mdInput type="text" placeholder="Edit your post" (keyup.enter)="save()" [(ngModel)]="updatedPostBody"
          name="updatedPostBody">
      </md-input-container>
    </div>

    <div *ngIf="postEditingMode==1" fxLayout>
      <button md-icon-button (click)="enableEditing(updateInputElement)">
        <md-icon>edit</md-icon>
      </button>
      <button md-icon-button (click)="remove()">
        <md-icon>delete</md-icon>
      </button>
    </div>

    <div *ngIf="postEditingMode==2" fxLayout>
      <button [disabled]="updatedPostBody==post.post" md-icon-button (click)="save()">
        <md-icon>save</md-icon>
      </button>
      <button md-icon-button (click)="cancel()">
        <md-icon>cancel</md-icon>
      </button>
    </div>
  </div>

  <div class="options">
    <div class="likes">
      <span class="numLikes" *ngIf="numLikes!=0">{{numLikes}}</span>
    </div>
    <hr>
    <div class="all-comments">
      <div *ngFor="let obj of allComments" fxLayout>
        <div class="commentBox" fxLayout="column">
          <div class="author-name" fxFlex>{{obj.comment.author}}</div>
          <div class="post-comment" fxFlex>{{obj.comment.comment}}</div>
        </div>
        <span fxFlex></span>
        <div *ngIf="obj.editable" class="commentOptions" fxLayout>
          <!-- <button md-icon-button (click)="editComment(obj)">
              <md-icon>edit</md-icon>
            </button> -->
          <button md-icon-button (click)="deleteComment(obj.key)">
              <md-icon>delete</md-icon>
            </button>
        </div>
      </div>
    </div>
    <div class="comments" fxLayout>
      <md-icon>comment</md-icon>
      <!-- <md-input-container fxFlex class="writeComment" md-no-float> -->
      <input (keyup.enter)="comment()" mdInput type="text" class="writeComment" placeholder="Add a comment" [(ngModel)]="nowComment"
        name="nowComment">
      <!-- </md-input-container> -->
    </div>
  </div>
</div>
