<div class="bio" fxLayout="column" fxLayoutAlign="start stretch">
  <h1 md-dialog-title fxLayoutAlign="center center">{{title}}</h1>

  <form #bioForm="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
    <md-dialog-content fxLayout="column">
      <md-input-container>
        <input mdInput name="bioOne" [(ngModel)]="bio.One" placeholder="Bio #1">
      </md-input-container>
      <md-input-container>
        <input mdInput name="bioTwo" [(ngModel)]="bio.Two" placeholder="Bio #2">
      </md-input-container>
      <md-input-container>
        <input mdInput name="bioThree" [(ngModel)]="bio.Three" placeholder="Bio #3">
      </md-input-container>
    </md-dialog-content>

    <md-dialog-actions fxLayoutAlign="end center">
      <button md-button type="button" md-dialog-close>Cancel</button>
      <button md-button type="submit">Save</button>
    </md-dialog-actions>
  </form>
</div>
