img {
    height: 60px;
    width: 150px;
    margin-left: 30px;
}

md-toolbar {
    height: 70px;
}

md-sidenav {
  width: 200px;
}

.container {
  padding: 10px;
}

.container-extra-padding {
  padding: 30px;
}

#uname {
  color: black;
}