<div class="skills" fxLayout="column" fxLayoutAlign="start stretch">
  <h1 md-dialog-title fxLayoutAlign="center center">{{title}}</h1>

  <form #skillsForm="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
    <md-dialog-content fxLayout="column">
      <md-input-container>
        <input mdInput name="skillsOne" [(ngModel)]="skills.One" placeholder="Skill #1">
      </md-input-container>
      <md-input-container>
        <input mdInput name="skillsTwo" [(ngModel)]="skills.Two" placeholder="Skill #2">
      </md-input-container>
      <md-input-container>
        <input mdInput name="skillsThree" [(ngModel)]="skills.Three" placeholder="Skill #3">
      </md-input-container>
    </md-dialog-content>

    <md-dialog-actions fxLayoutAlign="end center">
      <button md-button type="button" md-dialog-close>Cancel</button>
      <button md-button type="submit">Save</button>
    </md-dialog-actions>
  </form>
</div>
