<div class="all" fxLayoutAlign="center center" fxLayout="column">

  <div class="aaa">
    <span fxFlex></span>
    <div id="topRight">
      <a href="#">Gmail</a>
      <a href="#">Images</a>
      <a href="#">Boxes</a>
      <a href="#">Number</a>
      <a href="#">Image</a>
    </div>
  </div>
  <div class="aa" fxLayout="column">
    <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="google">
    <md-input-container fxFlex>
      <input fxFlex mdInput placeholder="search here">
    </md-input-container>
    <div>
      <button id="searchBtn" color="primary" md-raised-button>Google Search</button>
      <button color="primary" md-raised-button>I'm feeling lucky</button>
    </div>

    <div id="text" fxLayoutAlign="center center">
      <span id="new">New! </span> Meet google pixel 2
    </div>

    <div id="footer" fxLayout="row">
      <div id="left" fxLayoutAlign="center center">
        <a class="foo" href="#">Advertising</a>
        <a class="foo" href="#">Business</a>
        <a class="foo" href="#">About</a>
      </div>
      <span fxFlex></span>
      <div id="right" fxLayoutAlign="center center">
        <a class="foo" href="#">Privacy</a>
        <a class="foo" href="#">Terms</a>
        <a class="foo" href="#">Settings</a>
      </div>
    </div>
  </div>
</div>
